language: go

go:
        - tip

before_install:
        sudo apt-get update &&
        sudo apt-get install llvm-3.2 &&
        sudo apt-get install clang &&
        sudo ln -s /usr/bin/llvm-config-3.2 /usr/local/bin/llvm-config

install:
        export CGO_CFLAGS="`llvm-config --cflags`" &&
        export CGO_LDFLAGS="`llvm-config --ldflags` -Wl,-L`llvm-config --libdir` -lLLVM-`llvm-config --version`" &&
        go get github.com/axw/llgo/build &&
        go build ./cmd/llgo-dist &&
        ./llgo-dist

script: go test ./llgo
